<div class="busked-item">
    <div class="icon column-1">
        <img src=@@img alt="" />
    </div>
    <div class="busked-counter column-2">
        <button class="arrow">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <span class="counter item-text">@@quantity шт.</span>
        <button class="arrow next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
        <button>
            <span class="delete item-text">Видалити</span>
        </button>
    </div>
    <div class="price column-1 last">
        <span class="item-text">@@price</span>
    </div>
</div>