<div class="favorites-item">
        <div class="icon">
            <img src=@@img alt="" />
        </div>
        <div class="name">
            <span class="item-text">@@name</span>
        </div>
        <div class="txt-wr">
           <div class="availability">
            <span class="item-text">@@availability</span>
        </div>
        <div class="price">
            <span class="item-text">@@price</span>
        </div> 
        </div>
        
        <div class="button-wrap">
            <button class="buy">
                <span>Купити</span>
                <img src="../../../img/pics/shopping-bag.png" alt="">
            </button>
            <button class="delete-item">
                @@include('../svg/close.svg')
            </button>
        </div>
    </div>