<div class="pc-favorites @@display" >
    <div class="caption">
        <span>Обране</span>
    </div>
    @@include('_favorites-item.html', {
        "img": "img/pics/favorites-ring.png",
        "name": "Перстень Назва",
        "availability": "В наявності",
        "price": "3500 uah"  
    })
    @@include('_favorites-item.html', {
        "img": "img/pics/favorites-ring.png",
        "name": "Перстень Назва",
        "availability": "В наявності",
        "price": "3500 uah"  
    })
    @@include('_favorites-item.html', {
        "img": "img/pics/favorites-ring.png",
        "name": "Перстень Назва",
        "availability": "В наявності",
        "price": "3500 uah"  
    })
    @@include('_favorites-item.html', {
        "img": "img/pics/favorites-ring.png",
        "name": "Перстень Назва",
        "availability": "В наявності",
        "price": "3500 uah"  
    })
</div>