<div class="my-order-item">
    <div class="icon column">
        <img src=@@img alt="" />
    </div>
    <div class="name column-2 adaptive-none">
        <span class="item-text ">@@name</span>
    </div>
    <div class="column-wrap">
        <div class="column quantity column-third">
            <span class="item-text">@@quantity шт</span>
        </div>
        <div class="column price column-third">
            <span class="item-text">@@price</span>
        </div>
        <div class="column column-third empty"></div>
    </div>
    
</div> 