<div class="personal-data @@display adaptive-display" >
    <div class="caption">
        <span>Особисті дані</span>
    </div>
    <form>
        <fieldset>
            <legend>Контактні дані</legend>
            <label>Ім’я
                <span>*</span>
                <input type="text" name="name" />
            </label>
            <label>Прізвище
                <span>*</span>
                <input type="text" name="surname" />
            </label>
            <label>Телефон
                <span>*</span>
                <input type="tel" name="tel" />
            </label>
            <button>
                <span>+ Додати телефон</span>
            </button>
        </fieldset>
        <fieldset>
            <legend>Мої адреси</legend>
            <div class="adress">
                <span class="nuber-icon">1</span>
                <span>65000, м. Одеса, вул, Садова, 1</span>
            </div>
            <button>
                <span>+ Додати телефон</span>
            </button>
        </fieldset>
        <fieldset>
            <legend>Дані авторизації</legend>
            <label>Email
                <span>*</span>
                <input type="email" name="email" />
            </label>
            <div class="new-pass">
                <a href="">Змінити пароль</a>
            </div>
        </fieldset>
        <button class="submit" type="submit">
            <span>Зберегти зміни</span>
        </button>
    </form>
</div>