<div class="custom-row @@is-open">
        <div class="cell cell-1">
            <span>№@@number</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div class="cell cell-2">
            <span>@@subject</span>
        </div>
        <div class="cell cell-3">
            <span>@@status</span>
        </div>
        <div class="cell cell-4">
            <span class="prevuew">@@user-message</span>
            <div class="ticket-message">
                <div class="user-name">
                    <p>@@user-name</p>
                </div>
                <div class="message user-message">
                    <p>@@user-message</p>
                </div>
                <div class="kelly">
                    <p>келі</p>
                </div>
                <div class="message kelly-message">
                    <p>@@kelly-message</p>
                </div>
                <div class="is-answer">
                    <p>Ваше питання вирішене?</p>
                    <div class="button-wrap">
                        <button type="button" class="yes">
                            <span>Так</span>
                        </button>
                        <button type="button" class="no">
                            <span>Ні</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>