<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumb-wr">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <a href="#">Головна</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <a href="#">Золото</a>
                        </li>
                    </ul>
                </div>
    
            </div>
            <div class="col-xs-12 catalog-filter-title">
                    Акційні товари
    
            </div>
    
            
            <div class="col-md-3 catalog-filter">
    
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 catalog-filter-content">
                <div class="sort-wr">
                    <div class="sort">
                        <div class="sort-container">
                            <div class="sort-label">
                                Сортування
                            </div>
                            <div class="sort-dropdown">
                                <select class="nselect-1" name="sort">
                                    <option value="1">За популярністю</option>
                                    <option value="2">Спочатку дорожчі</option>
                                    <option value="3">Спочатку дешевші</option>
                                    <option value="4">Спочатку акційні</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="show">
                        <div class="show-container">
                            <div class="show-label">
                                Показувати
                            </div>
                            <div class="show-dropdown">
                                <select class="nselect-1" name="show">
                                    <option value="1">15</option>
                                    <option value="2">30</option>
                                    <option value="3">45</option>
                                    <option value="4">60</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-result-items">
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
    
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })@@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
    
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })@@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
    
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })@@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
    
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })@@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
    
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                    })
                </div>
                <div class="pagination-wr">
                    @@include('./_pagination.html')
                </div>
                
    
    
            </div>
        </div>
    </div>
    </div>