<div class="basked-item">
        <img src=@@icon alt="" />
        <div class="item-name">
            <p>@@name</p>
            <div  class="counter">
                <button class="couter-prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                <p>@@quantity шт.</p>
                <button class="couter-next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </div>
            
        </div>
        <div class="price">
            <p>@@price uah</p>
        </div>
    </div>