<div class="busket-container">
    <div class="title">
        Мій кошик (3)
    </div>
    <div class="close-triggrer">
        <button></button>
    </div>
    <div class="busket-item-wr">
        <div class="busket-item">
            <div class="pics">
                <img src="img/pics/ring-small.png" alt="ring">
            </div>
            <div class="caption">
                <div class="name">
                    Назва товару
                </div>
                <div class="quantity">
                    1 х <span class="summ">3500 uah</span>
                </div>
                <div class="delete-trigger">
                    <button>Видалити</button>
                </div>
            </div>
        </div>
        <div class="busket-item">
            <div class="pics">
                <img src="img/pics/ring-small.png" alt="ring">
            </div>
            <div class="caption">
                <div class="name">
                    Назва товару
                </div>
                <div class="quantity">
                    1 х <span class="summ">3500 uah</span>
                </div>
                <div class="delete-trigger">
                    <button>Видалити</button>
                </div>
            </div>
        </div>
        <div class="busket-item">
            <div class="pics">
                <img src="img/pics/ring-small.png" alt="ring">
            </div>
            <div class="caption">
                <div class="name">
                    Назва товару
                </div>
                <div class="quantity">
                    1 х <span class="summ">3500 uah</span>
                </div>
                <div class="delete-trigger">
                    <button>Видалити</button>
                </div>
            </div>
        </div>

    </div>
    <div class="price">
        <div class="price-text">
            Усього
        </div>
        <div class="price-value">
            10500 uah
        </div>
    </div>
    <div class="delivery">
        <div class="delivery-text">
            Доставка
        </div>
        <div class="delivery-value">
            0 UAH
        </div>
    </div>
    <div class="checkout">
        <button class="standart-btn">Оформити замовлення</button>
    </div>
    <div class="back-busket">
        <button class="standart-btn-empty">Перейти в кошик</button>
    </div>
</div>