<div class="contacts-page container">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Головна</a>
        </li>
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Контакти</a>
        </li>
    </ul>
    <div class="row all-contacts">
        <div class="col-md-4 col-sm-4 col-xs-12 contact-item">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>+38 (095) 123 45 678</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 contact-item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>м. Вінниця, вул. Соборна, 1</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 contact-item">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>mail@mail.mail</span>
        </div>
    </div>
    <div id="map"></div> 
</div>