<!-- Footer-->


<footer class="main">
    <div class="container ">
        <div class="row">
            <div class="footer-wr">
            <div class="column col-md-3">
                <div>
                    <div class="logo">
                        <img src="img/pics/logo.png" alt="logo">
                    </div>
                    <div class="descr">
                        <p>© 2019 <span>Інтернет-магазин “Келі”</span> </p>
                    </div>
                </div>
            </div>
            <div class="column col-md-3 footer-nav">
                <div>
                    <div class="caption">
                        <p>Інформація</p>
                    </div>
                    <div class="footer-item">
                        <a href="#">Оплата і доставка</a>
                    </div>
                    <div class="footer-item">
                        <a href="#">Новини</a>
                    </div>
                    <div class="footer-item">
                        <a href="#">Мапа сайту</a>
                    </div>
                </div>  
            </div>
            <div class="column col-md-3 schedule">
                <div>
                    <div class="caption">
                        <p>Режим роботи</p>
                    </div>
                    <div>
                        <div class="for-icon">
                            <p>Пн-Пт 09:00 - 20:00</p>
                            <div class="icon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="for-icon">
                            <p>Сб 09:00 - 18:00, Нд - <span class="destop-txt">вихідний</span><span class="mobile-txt">вих</span></p>
                            <div class="icon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="column col-md-3 contacts">
                <div>
                    <div class="caption">
                        <p>Контакти</p>
                    </div>
                    <div class="for-icon">
                        <p>+38 095 000 00 00</p>
                        <div class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="for-icon">
                        <a href="#">mail@mail.mail</a>
                        <div class="icon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="social">
                        <div class="icon">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            <a href="#"></a>
                        </div>
                        <div class="icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <a href="#"></a>
                        </div>
                        <div class="icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="develop">
        <p>Розробка сайту ModXArt</p>
    </div>
</footer>


@@include('./_modal.html')

<div class="scripts">
    <!-- Set JS assets-->
    <script src="js/vendor-bundle.min.js"></script>
    <script src="js/custom-bundle.min.js"></script>
</div>