<header class="container-fluid menu @@head-class">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-md-4">
                    <div class="left-menu">
                        <div class="catalog-trigger">
                            <button>
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30"
                                    width="30" height="30" style="enable-background:new 0 0 30 30;"
                                    xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFFFFF;
                                        }
                                    </style>
                                    <circle class="st0" cx="3.3" cy="3.3" r="3.3" />
                                    <circle class="st0" cx="15" cy="3.3" r="3.3" />
                                    <circle class="st0" cx="26.7" cy="3.3" r="3.3" />
                                    <circle class="st0" cx="3.3" cy="15" r="3.3" />
                                    <circle class="st0" cx="15" cy="15" r="3.3" />
                                    <circle class="st0" cx="26.7" cy="15" r="3.3" />
                                    <circle class="st0" cx="3.3" cy="26.7" r="3.3" />
                                    <circle class="st0" cx="15" cy="26.7" r="3.3" />
                                    <circle class="st0" cx="26.7" cy="26.7" r="3.3" />
                                </svg>

                            </button>
                        </div>
                        <div class="lang">
                            <button>
                                <span>ua</span>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>
                            <div class="lang-drop">
                                <div class="drop-inner">
                                    <div class="lang-item">
                                        <a href="#">ru</a>
                                    </div>
                                    <div class="lang-item">
                                        <a href="#">en</a>
                                    </div>
                                </div>                           
                             </div>
                        </div>
                        <div class="search">
                            <button class="search-btn">
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFFFFF;
                                        }
                                    </style>
                                    <g>
                                        <path class="st0" d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11
		C103.4,11,11,103.5,11,217.5S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0
		C503,487.1,503,474.1,495,466.2z M217.5,382.9C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5
		S308.7,382.9,217.5,382.9z" />
                                    </g>
                                </svg>
                            </button>
                            <div class="search-container">
                                <div class="input-part">
                                    <input type="text">
                                    <img class="search-close-btn" src="img/pics/search-block.png" alt="search-icon">
                                </div>
                                <div class="result-part">
                                    <div class="result-item">
                                        Золоті сережки
                                    </div>
                                    <div class="result-item">
                                        Золотий перстень
                                    </div>
                                    <div class="result-item">
                                        Золотий браслет
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-md-6 logo-col">
                    <div class="logo">
                        <a href="#" class="logo-lnk">
                            <img class="no-scroll-content" src="img/pics/logo.png" alt="logo">
                            <img class="scroll-content" src="img/pics/logo-dark.png" alt="search-icon">
                        </a>

                    </div>
                </div>
                <div class="col-xs-5 col-md-4">
                    <div class="right-menu">
                        <div class="currency">
                            <div class="currency-item">
                                <label>
                                    <input type="radio" name="currency">
                                   <span>usd</span>
                                </label>
                            </div>
                            |
                            <div class="currency-item">
                                <label>
                                    <input type="radio" name="currency">
                                    <span>Uah</span>
                                </label>
                            </div>
                        </div>
                        <div class="account-wr">
                            <div class="basket">
                                <button class="basket-btn" data-open="no-empty">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22" x="0px"
                                        y="0px" viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;"
                                        xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #FFFFFF;
                                            }
                                        </style>
                                        <g>
                                            <path class="st0" d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1
		H90.3c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
		C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
		H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
		c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
                                        </g>
                                    </svg>
                                    <span class="counter">3</span>
                                </button>
                                <ul class="empty-basket list-unstyled" data-busket="empty">
                                    <li>
                                        <p>
                                            <img src="img/pics/shopping-bag-violet.png"
                                                alt="shopping bag icon"><span>Ваш
                                                кошик порожній</span></p>
                                    </li>
                                </ul>
                                @@include('./_basket.html')
                            </div>
                            <div class="favorite">
                                <a href="/pc-favorites.html">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="20" x="0px"
                                        y="0px" viewBox="0 0 471.7 471.7" style="enable-background:new 0 0 471.7 471.7;"
                                        xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #FFFFFF;
                                            }
                                        </style>
                                        <g>
                                            <path class="st0" d="M433.6,67c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3L236,80l-13.1-13.1
		c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2C13.5,91.4-0.1,124.2,0,159.1c0,34.9,13.7,67.6,38.4,92.3l187.8,187.8
		c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4C471.8,124.5,458.3,91.7,433.6,67z M414.4,232.7
		l-178.7,178L57.4,232.4C37.8,212.8,27,186.8,27,159.1s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3
		c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4c19.6-19.6,45.7-30.4,73.3-30.4
		c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3C444.8,187.1,434,213.1,414.4,232.7z" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="account">
                                <button data-tab="login" data-modal="auth">
                                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="20" x="0px"
                                        y="0px" viewBox="0 0 38 44" style="enable-background:new 0 0 38 44;"
                                        xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #FFFFFF;
                                            }
                                        </style>
                                        <title>7-User ui mobile app interface web</title>
                                        <g>
                                            <path class="st0" d="M24.3,22.8c6-2.9,8.4-10.1,5.5-16.1S19.7-1.7,13.7,1.2S5.3,11.3,8.2,17.3c1.2,2.4,3.1,4.3,5.5,5.5
		C5.6,25.1,0,32.6,0,41v2c0,0.6,0.4,1,1,1h36c0.6,0,1-0.4,1-1v-2C38,32.6,32.4,25.1,24.3,22.8z M9,12C9,6.5,13.5,2,19,2
		s10,4.5,10,10s-4.5,10-10,10S9,17.5,9,12z M36,42H2v-1c0-9.4,7.6-17,17-17s17,7.6,17,17V42z" />
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog">
            <div class="container-fluid catalog-container">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-xs-12">
                                <ul class="category list-unstyled">
                                    <li>
                                        <a href="#" class="category-item hover" data-item="gold">
                                            <span>
                                                <img src="img/pics/category-label1.png" alt="">
                                            </span>
                                            Золото
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        @@include('./_subcategory.html')
                                    </li>
                                    <li>
                                        <a href="#" class="category-item">
                                            <span>
                                                <img src="img/pics/category-label2.png" alt="">
                                            </span>
                                            Срібло
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        @@include('./_subcategory.html')
                                    </li>
                                    <li>
                                        <a href="#" class="category-item">
                                            <span>
                                                <img src="img/pics/category-label3.png" alt="">
                                            </span>
                                            Новинки
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        @@include('./_subcategory.html')
                                    </li>
                                    <li>
                                        <a class="category-item" href="#">
                                            <span>
                                                <img src="img/pics/category-label4.png" alt="">
                                            </span>
                                            Акційні пропрозиції
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        @@include('./_subcategory.html')
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-5 catalog-img">
                                <div class="category-img">
                                    <img src="img/pics/category-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="scrolled-line">
            <div class="gradient-line">

            </div>
            <div class="scroll-line">
                <span>Ювелірні вироби вищої якості</span>
            </div>
        </div>
    </div>
</header>