<header>
    <div class="container-fluid">
        <div class="row">
            <div class="container menu">
                <div class="row">
                    <div class="col-md-3 left-menu">
                        <div class="catalog-trigger">
                            <button>
                                <img src="img/pics/catalog-trigger.png" alt="catalog icon">
                            </button>
                        </div>
                        <div class="lang">
                            <button>
                                <span>ua</span>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="search">
                            <button>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                            <div class="logo">
                                <img src="img/pics/logo.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-md-3 right-menu">
                            <div class="currency">
                                <button>
                                   <span>usd</span> | <span class="second-currency">Uah</span> 
                                </button>
                            </div>
                            <div class="account-wr">
                             <div class="basket">
                                <button>
                                    <img src="img/pics/shopping-bag.png" alt="shopping bag icon">
                                </button>
                            </div>
                            <div class="favorite">
                                <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                            </div>
                            <div class="account">
                                <button>
                                    <img src="img/pics/user.png" alt="">
                                </button>
                            </div>   
                            </div>
                            
                            </div>
                </div>
            </div>
            <div class="first-screen">
                <h1>Гарний заголовок</h1>
                <img src="img/pics/header-img.jpg" alt="">
            </div>
        </div>
    </div>
</header>