<header>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid menu">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 left-menu">
                                <div class="catalog-trigger">
                                    <button>
                                        <img src="img/pics/catalog-trigger.png" alt="catalog icon">
                                    </button>
                                </div>
                                <div class="lang">
                                    <button>
                                        <span>ua</span>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="search">
                                    <button class="search-btn">
                                        <img src="img/pics/search.png" alt="search-icon">
                                    </button>
                                    <div class="search-container">
                                        <div class="input-part">
                                            <input type="text">
                                            <img class="search-close-btn" src="img/pics/search-block.png"
                                                alt="search-icon">
                                        </div>
                                        <div class="result-part">
                                            <div class="result-item">
                                                Золоті сережки
                                            </div>
                                            <div class="result-item">
                                                Золотий перстень
                                            </div>
                                            <div class="result-item">
                                                Золотий браслет
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="logo">
                                    <img src="img/pics/logo.png" alt="logo">
                                </div>
                            </div>
                            <div class="col-md-3 right-menu">
                                <div class="currency">
                                    <button>
                                        <span>usd</span> | <span class="second-currency">Uah</span>
                                    </button>
                                </div>
                                <div class="account-wr">
                                    <div class="basket">
                                        <button class="basket-btn">
                                            <img src="img/pics/shopping-bag.png" alt="shopping bag icon">
                                            <span class="counter">3</span>
                                        </button>
                                        @@include('./_basket.html')
                                    </div>
                                    <div class="favorite">
                                        <button><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="account">
                                        <button>
                                            <img src="img/pics/user.png" alt="">
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="catalog">
                        <div class="container-fluid catalog-container">
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="category list-unstyled">
                                                <li>
                                                    <a href="#" class="category-item" data-item="gold">
                                                        <span>
                                                            <img src="img/pics/category-label1.png" alt="">
                                                        </span>
                                                        Золото
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="category-item">
                                                        <span>
                                                            <img src="img/pics/category-label2.png" alt="">
                                                        </span>
                                                        Срібло
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="category-item">
                                                        <span>
                                                            <img src="img/pics/category-label3.png" alt="">
                                                        </span>
                                                        Новинки
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="category-item" href="#">
                                                        <span>
                                                            <img src="img/pics/category-label4.png" alt="">
                                                        </span>
                                                        Акційні пропрозиції
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="sub-category">
                                                <ul class="sub-category-item-wr list-unstyled gold">
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/ring-icon.png" alt="">
                                                            </span>
                                                            Перстні
                                                        </a>
                                                        <ul class="sub-item-category list-unstyled">
                                                            <li class="sub-item">
                                                                <a href="#">Обручки</a>
                                                            </li>
                                                            <li class="sub-item">
                                                                <a href="#">Жіночі</a>
                                                            </li>
                                                            <li class="sub-item">
                                                                <a href="#">Чоловічі</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/trinket-icon.png" alt="">
                                                            </span>
                                                            Сережки
                                                        </a>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/neck-icon.png" alt="">
                                                            </span>
                                                            Ланцюжки
                                                        </a>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/pendant-icon.png" alt="">
                                                            </span>
                                                            Кулоны
                                                        </a>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/bracelet-icon.png" alt="">
                                                            </span>
                                                            Браслети
                                                        </a>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/collier-icon.png" alt="">
                                                            </span>
                                                            Кольє
                                                        </a>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/piercing-icon.png" alt="">
                                                            </span>
                                                            Пірсинг
                                                        </a>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/accessory-icon.png" alt="">
                                                            </span>
                                                            Аксесуари
                                                        </a>
                                                    </li>
                                                    <li class="sub-category-item">
                                                        <a href="#">
                                                            <span>
                                                                <img src="img/pics/headset-icon.png" alt="">
                                                            </span>
                                                            Гарнітури
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="category-img">
                                                <img src="img/pics/category-img.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="first-screen">
                <h1>Гарний заголовок</h1>
                <img src="img/pics/header-img.jpg" alt="">
            </div>
        </div>
    </div>
</header>