<main>
    <div class="container">
        <div class="row to-be">
            <div class="col-md-4 to-be-item">
                <img src="../../img/pics/toBe-1.png" alt=""/>
                <div class="descript">
                    <div class="wrap">
                        <p class="special">... щасливим</p>
                        <p>Весільні на заручальні вироби</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 to-be-item">
                <img src="../../img/pics/toBe-2.png" alt=""/>
                <div class="descript">
                    <div class="wrap">
                        <p class="special">... неповторним </p>
                        <p>Вироби на кожен день</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 to-be-item">
                <img src="../../img/pics/toBe-3.png" alt=""/>
                <div class="descript">
                    <div class="wrap">
                        <p class="special">Виділятися...</p>
                        <p>Ексклюзиви</p>
                    </div>
                </div>
            </div>
            <div class="caption">
                <p>Бути...</p>
            </div>
        </div>
        <div class="row about-brend">
            <div class="caption">
                <p>
                        Про бренд 
                </p>
            </div>
            <div class="descript">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <button>
                    <span>Дізнатися більше</span>
                </button>
            </div>
        </div>
        <div class="row offer">
            <div class="col-md-6">
                <div class="back-img">
                    <img src="../../img/pics/offer.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6 products">
                <p class="caption">Пропозиція тижня</p>
                <p>з 01.09.2019 по 07.09.2019</p>
                <div class="row">
                    <div class="col-md-12 offer-week">
                    @@include('./_product-item.html', {
                        "articul": "арт. 12547",
                        "name": "Перстень",
                        "price": "3000 uah",
                        "old-price" : "3500 uah"
                    })
                
                    @@include('./_product-item.html', {
                        "articul": "арт. 12547",
                        "name": "Перстень",
                        "price": "3000 uah",
                        "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                        "articul": "арт. 12547",
                        "name": "Перстень",
                        "price": "3000 uah",
                        "old-price" : "3500 uah"
                    })
                    @@include('./_product-item.html', {
                        "articul": "арт. 12547",
                        "name": "Перстень",
                        "price": "3000 uah",
                        "old-price" : "3500 uah"
                    })
                    </div>
                </div>
            </div> 
        </div>
        <div class="row novelty">
            <div class="caption">
                <p>Наші новинки</p>
            </div>
            <div class="col-md-12 owl-carousel new-items">

                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })


                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                
            </div>
            </div>
            
        </div>

</main>