<ul class="pagination-block">
        <li>
            <a href="#" class="pagination-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="#">1</a>
        </li>
        <span>...</span>
        <li class="active">
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">6</a>
        </li>
        <li>
            <a href="#">7</a>
        </li>
        <li>
            <a href="#">8</a>
        </li>
        <span>...</span>
        <li>
            <a href="#">12</a>
        </li>
        <li>
            <a href="#" class="pagination-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
    </ul>