<div class="partners container">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Головна</a>
        </li>
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Партнери</a>
        </li>
    </ul>
    <div class="caption">
        <p>Наші партнери</p>
    </div>
    <div class="separator"></div>
    <div class="row">
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
    </div>
</div>