<div class="partners container">
    <div class="link">
        <a href="../index.html">Головна  > 
            <span> Контакти</span>
        </a>
    </div>
    <div class="caption">
        <p>Наші партнери</p>
    </div>
    <div class="separator"></div>
    <div class="row">
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
    </div>
</div>