<div class="partners container">
    <div class="link">
        <p>
            <a href="../index.html">Головна  ></a><span> Контакти</span>
        </p>
    </div>
    <div class="caption">
        <p>Наші партнери</p>
    </div>
    <div class="separator"></div>
    <div class="row">
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
        @@include('./_partners-item.html')
    </div>
</div>