<div class="container payment-info">
    <div class="link">
        <p>
            <a href="../index.html">Головна  ></a><span>  Оплата та доставка</span>
        </p>
    </div>
    <div class="caption">
        <p>Оплата та доставка</p>
    </div>
    <div class="separator"></div>
    <div class="row">
        <div class="col-md-8 content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            <div class="section-caption">
                <p>Варіанти доставки</p>
            </div>
            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </section>
            <div class="section-caption">
                <p>Варіанти оплати</p>
            </div>
            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </section>
        </div>
    </div>
</div>