<div class="container cabinet ">
    <ul class="breadcrumb adaptive-display">
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Головна</a>
        </li>
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Мої тікети</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-3 adaptive-display">
            <div class="cabinet-menu">
                <div class="head-menu">
                    <div class="icon">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>
                    <span>Олена Прокопенко</span> 
                </div>
                <div class="body-menu">
                    <button class="cab-menu-item">
                        <span>Особисті дані </span>
                        <span></span>
                        <div class="arrow">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button class="cab-menu-item">
                        <span>Мій кошик </span>
                        <span>(3)</span>
                        <div class="arrow">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button class="cab-menu-item">
                        <span>Мої тікети </span>
                        <span></span>
                        <div class="arrow">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button class="cab-menu-item">
                        <span>Мої замовлення </span>
                        <span></span>
                        <div class="arrow">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button class="cab-menu-item">
                        <span>Обранне </span>
                        <span>(4)</span>
                        <div class="arrow">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button class="cab-menu-item">
                        <span>Мої коментарі </span>
                        <span></span>
                        <div class="arrow">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </button>
                    <button class="cab-menu-item">
                        <span>Вихід </span>
                        <span></span>
                        <div class="arrow">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                    </button>
                </div> 
            </div>
        </div>
        <div class="col-md-9">
            @@include('./cabinet/_favorites.html',{
                "display": ""
            })
        </div>
    </div>
</div>