<div class="product-final container">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Головна</a>
        </li>
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Золото</a>
        </li>
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Перстні</a>
        </li>
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Жіночі</a>
        </li>
        <li>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <a href="#">Назва прикраси</a>
        </li>
    </ul>
    <div class="row product-information">
        <div class="col-md-1">
            <div class="img-wrap">
                <img src="img/pics/ring2.png" alt="" />
            </div>
            <div class="img-wrap">
                <img src="img/pics/ring2.png" alt="" />
            </div>
            <div class="img-wrap">
                <img src="img/pics/ring2.png" alt="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-wrap-big">
                <img src="img/pics/ring2.png" alt="" />
            </div>
        </div>
        <div class="col-md-5 product-description">
            <div class="descript-caption">
                <p>Перстень Назва</p>
            </div>
        </div>
    </div>
    <div class="related-products">
        <div class="section-caption">
            <p>Супутні товари</p>
            <div class="separator"></div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel new-items">
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
            </div>
        </div>
    </div>
    <div class="viewed-products">
        <div class="section-caption">
            <p>Супутні товари</p>
            <div class="separator"></div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel new-items">
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                    "articul": "арт. 12547",
                    "name": "Перстень",
                    "price": "3000 uah",
                    "old-price" : "3500 uah"
                })
            </div>
        </div>
    </div>
</div>