<!-- <div class="product-wr @@custom-class">
<div class="product-item">
    <a href="/product-final.html" class="hidden-lnk"></a>
    <div class="stars">
        <button class="look">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 486.7 245.7" style="enable-background:new 0 0 486.7 245.7;" xml:space="preserve">
<g>
	<path d="M485.6,120.1c-36-38.6-74.5-68.4-114.5-88.6C329.8,10.6,286.8,0,243.4,0S157,10.6,115.6,31.5
		C75.6,51.7,37,81.5,1,120.1c-1.4,1.5-1.4,3.9,0,5.5c36,38.6,74.5,68.4,114.5,88.6c41.4,20.9,84.4,31.5,127.8,31.5
		s86.4-10.6,127.8-31.5c40-20.2,78.6-50,114.6-88.6C487,124.1,487,121.7,485.6,120.1z M243.3,237.6c-82.1,0-162.9-39.7-233.9-114.8
		C80.5,47.7,161.3,8,243.3,8s162.8,39.7,233.9,114.8C406.1,198,325.3,237.6,243.3,237.6z"/>
	<path d="M243.3,20.7c-56.3,0-102.1,45.8-102.1,102.1S187,224.9,243.3,224.9s102.1-45.8,102.1-102.1
		S299.6,20.7,243.3,20.7z M243.3,217c-51.9,0-94.1-42.2-94.1-94.1s42.2-94.1,94.1-94.1s94.1,42.2,94.1,94.1S295.2,217,243.3,217z"/>
	<path d="M243.3,81.6c-22.7,0-41.2,18.5-41.2,41.2s18.5,41.2,41.2,41.2s41.2-18.5,41.2-41.2S266,81.6,243.3,81.6z
		 M243.3,156.1c-18.3,0-33.2-14.9-33.2-33.2s14.9-33.2,33.2-33.2s33.2,14.9,33.2,33.2S261.6,156.1,243.3,156.1z"/>
</g>
</svg>
        </button>
        <div class="stars-wrap" data-rating="0">
            <div class="stars-inner">
               <div class="stars-item">
                <label>
                    <input class="hidden-content" type="radio" name="star" value="5">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </label>
            </div>
            <div class="stars-item">
                <label>
                    <input class="hidden-content" type="radio" name="star" value="4">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </label>
            </div>
            <div class="stars-item">
                <label>
                    <input class="hidden-content" type="radio" name="star" value="3">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </label>
            </div>
            <div class="stars-item">
                <label>
                    <input class="hidden-content" type="radio" name="star" value="2">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </label>
            </div>
            <div class="stars-item">
                <label>
                    <input class="hidden-content" type="radio" name="star" value="1">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </label>
            </div> 
            </div>
            
            <span class="current-rating">(0)</span>
        </div>
        <button class="favorite">
          <i class="fa fa-heart-o" aria-hidden="true"></i>  
        </button>
        
    </div>
    <div class="item-content">
        <img src="../../img/pics/ring.png" alt="" />
        <p class="art">@@articul</p>
        <p class="name">@@name</p>
        <p class="price">@@price
            <span>@@old-price</span>
        </p>
        
    </div>
    <button class="item-button">
            <span>
                В кошик
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </span>
        </button>
</div>
</div> -->


<div class="product-layout product-list product-wr">
    <div class="product-thumb">

        <div class="image">
           
            <a href="http://site9.fdk.in.ua/zoloto/zolotye-kolca/zhenskye-zolotye-kolca/persten-nazva.html"><img
                    src="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-228x228.png" alt="Перстень Назва"
                    title="Перстень Назва" class="img-responsive"></a>
        </div>

        <div>
            <div class="caption">
                <h4><a href="http://site9.fdk.in.ua/zoloto/zolotye-kolca/zhenskye-zolotye-kolca/persten-nazva.html">Перстень
                        Назва</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore..</p>


                <p class="price">
                    3 000.00 грн. <span class="price-tax">Без податку: 3 000.00 грн.</span>
                </p>
            </div>
            <div class="button-group">
                <button type="button" onclick="cart.add('50', '1');"><i class="fa fa-shopping-cart"></i> <span
                        class="hidden-xs hidden-sm hidden-md">До кошика</span></button>
                <button type="button" data-toggle="tooltip" title="" onclick="wishlist.add('50');"
                    data-original-title="У закладки"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="" onclick="compare.add('50');"
                    data-original-title="До порівняння"><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
</div>