
    <div class="product-item">
        <div class="stars">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <div class="stars-wrap">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(5)</span>
            </div>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <div class="item-content">
            <img src="../../img/pics/ring.png"  alt="" />
            <p class="art">@@articul</p>
            <p class="name">@@name</p>
            <p class="price">@@price
                <span>@@old-price</span>
            </p>
            <button>
                <p>
                    В кошик
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </p>
            </button>
        </div>
    </div>
