<div class="product-final container">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="#">Головна</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="#">Золото</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="#">Перстні</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="#">Жіночі</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="#">Назва прикраси</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="row product-information">
        <div class="col-md-7 col-sm-7">
            <div class="row ">
                <div class="col-container">
                    <div class="col-md-2 col-sm-2">
                        <div class="img-wrap-container zoom-gallery">
                            <a href="img/pics/ring2.png" class="img-wrap">
                                <img src="img/pics/ring2.png" alt="" />
                            </a>
                            <a href="img/pics/ring2.png" class="img-wrap">
                                <img src="img/pics/ring2.png" alt="" />
                            </a>
                            <a href="img/pics/ring2.png" class="img-wrap">
                                <img src="img/pics/ring2.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="img-wrap-big">
                            <img src="img/pics/ring2.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-1 col-sm-2 col-xs-2">
            <div class="img-wrap-container">
                <div class="img-wrap">
                    <img src="img/pics/ring2.png" alt="" />
                </div>
                <div class="img-wrap">
                    <img src="img/pics/ring2.png" alt="" />
                </div>
                <div class="img-wrap">
                    <img src="img/pics/ring2.png" alt="" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-10 col-xs-10">
            
        </div> -->
        <div class="col-md-5 product-description">
            <div class="descript-caption">
                <p>Перстень Назва</p>
            </div>
            <div class="art-and-stars">
                <div class="art">
                    <p>арт. 12547</p>
                </div>
                @@include("./_stars.html", {
                "display": ""
                })
            </div>
            <div class="status">
                <p>В наявності</p>
            </div>
            <div class="price">
                <p>3000 uah
                    <span>3500 uah</span>
                </p>
            </div>
            <div class="button-wrap">
                <button class="to-basked">
                    <span>В кошик</span>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </button>
                <button class="to-favorite">
                    <span>В обране</span>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="desscription">
                <p class="product-title">Опис та характеристики</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <div class="haracter-list">
                    <div class="li-half">
                        <span>Матеріал</span>
                    </div>
                    <div class="li-half">
                        <span class="product-title">Біле золото</span>
                    </div>

                    <div class="li-half">
                        <span>Проба</span>
                    </div>
                    <div class="li-half">
                        <span class="product-title">585</span>
                    </div>

                    <div class="li-half">
                        <span>Вставка</span>
                    </div>
                    <div class="li-half">
                        <span class="product-title">Цирконій</span>
                    </div>
                    <button class="all-haracter">
                        <span>Всі характеристики</span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="detal">
                <a href="/payment-info.html">Детальніше про оплату, доставку, гарантії
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </div>
    <div class="related-products">
        <div class="section-caption">
            <p>Супутні товари</p>
            <div class="separator"></div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel new-items">
                <!-- @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                }) -->
            </div>
        </div>
    </div>
    <div class="review-title">
        <p>Відгуки про прикрасу</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="review">

                <div class="review-list">
                    <!-- @@include('./_review-item.html', {
                    "name": "Олена Прекрасна",
                    "date": "16.06.2019",
                    "message": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
                    })
                    @@include('./_review-item.html', {
                    "name": "Олена Прекрасна",
                    "date": "16.06.2019",
                    "message": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
                    })
                    @@include('./_review-item.html', {
                    "name": "Олена Прекрасна",
                    "date": "16.06.2019",
                    "message": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
                    }) -->
                </div>
                <div class="create-new-review">
                    <div class="form-caption">
                        <p>Залишити відгук</p>
                    </div>
                    <form action="#">
                        <label>
                            <span>Ваша оцінка</span>
                            @@include('./_stars.html', {
                            "display": "d-none"
                            })
                        </label>
                        <div class="form-section">
                            <input type="text" name="neme" placeholder="Ваше Ім’я" />
                            <input type="email" name="email" placeholder="Email" />
                        </div>
                        <textarea name="comment" placeholder="Ваш коментар"></textarea>
                        <button class="add-review">
                            <div>
                                <span>Добавити відгук</span>
                            </div>
                            <div class="plus">
                                <span>+</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="services">
                <div class="services-header">
                    <button class="services-button selected">
                        <span>Доставка</span>
                    </button>
                    <button class="services-button">
                        <span>Оплата</span>
                    </button>
                    <button class="services-button">
                        <span>Гарантія</span>
                    </button>
                </div>
                <div class="services-body">
                    <div class="service-elem">
                        <p>До відділення Нової Пошти
                            <span>Безкоштовно</span>
                        </p>
                    </div>
                    <div class="service-elem">
                        <p>Доставка кур’єром
                            <span>100 грн</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="viewed-products">
        <div class="section-caption">
            <p>Супутні товари</p>
            <div class="separator"></div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel new-items">
                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })

                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })
                @@include('./_product-item.html', {
                "articul": "арт. 12547",
                "name": "Перстень",
                "price": "3000 uah",
                "old-price" : "3500 uah"
                })
            </div>
        </div>
    </div>
</div>


<div class="product-final container">

    <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">

        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> <a itemprop="item"
                href="http://site9.fdk.in.ua/"><span itemprop="name">Кели</span></a>
            <meta itemprop="position" content="1">
        </li>

        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><i class="fa fa-angle-right"
                aria-hidden="true"></i> <a itemprop="item" href="http://site9.fdk.in.ua/zoloto/"><span
                    itemprop="name">Золото</span></a>
            <meta itemprop="position" content="2">
        </li>

        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><i class="fa fa-angle-right"
                aria-hidden="true"></i> <a itemprop="item" href="http://site9.fdk.in.ua/zoloto/zolotye-kolca/"><span
                    itemprop="name">Золотые кольца</span></a>
            <meta itemprop="position" content="3">
        </li>

        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><i class="fa fa-angle-right"
                aria-hidden="true"></i> <a itemprop="item"
                href="http://site9.fdk.in.ua/zoloto/zolotye-kolca/zhenskye-zolotye-kolca/"><span itemprop="name">Женские
                    золотые кольца</span></a>
            <meta itemprop="position" content="4">
        </li>

        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><i class="fa fa-angle-right"
                aria-hidden="true"></i> <a itemprop="item"
                href="http://site9.fdk.in.ua/zoloto/zolotye-kolca/zhenskye-zolotye-kolca/persten-nazva.html"><span
                    itemprop="name">Перстень Назва</span></a>
            <meta itemprop="position" content="5">
        </li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="row">
                <div class="col-sm-7">

                    <!-- XD stickers start -->
                    <div class="xd_stickers_wrapper">
                        <div class="xd_stickers xd_sticker_novelty">
                            НОВИНКА </div>
                        <div class="xd_stickers xd_sticker_freeshipping">
                            БЕСПЛАТНАЯ ДОСТАВКА </div>
                        <div class="xd_stickers xd_sticker_0">
                            тест </div>
                    </div>
                    <!-- XD stickers end -->



                    <ul class="thumbnails zoom-gallery">
                        <li><a class="thumbnail"
                                href="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-500x500.png"
                                title="Перстень Назва"><img
                                    src="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-228x228.png"
                                    title="Перстень Назва" alt="Перстень Назва"></a></li>
                                    <li class="small-thumbnail">
                                        <ul>
                                        <li class="image-additional"><a class="thumbnail"
                                href="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-500x500.png"
                                title="Перстень Назва"> <img
                                    src="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-74x74.png"
                                    title="Перстень Назва" alt="Перстень Назва"></a></li>
                        <li class="image-additional"><a class="thumbnail"
                                href="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-500x500.png"
                                title="Перстень Назва"> <img
                                    src="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-74x74.png"
                                    title="Перстень Назва" alt="Перстень Назва"></a></li>
                                </ul>
                                    </li>
                        
                    </ul>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab">Опис</a></li>
                        <li><a href="#tab-review" data-toggle="tab">Відгуки (0)</a></li>


                    </ul>
                    <div class="tab-content">


                        <div class="tab-pane active" id="tab-description">
                            <p><span style="color: rgb(126, 126, 126); font-family: FuturaPT; font-size: 15.4845px;">Lorem
                                    ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation.</span><br></p>
                        </div>
                        <div class="tab-pane" id="tab-review">
                            <form class="form-horizontal" id="form-review">
                                <div id="review">
                                    <p>Немає відгуків про цей товар.</p>
                                </div>
                                <h2>Написати відгук</h2>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-name">Ваше ім’я:</label>
                                        <input type="text" name="name" value="" id="input-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-review">Ваш відгук</label>
                                        <textarea name="text" rows="5" id="input-review"
                                            class="form-control"></textarea>
                                        <div class="help-block"><span class="text-danger"> Увага: </span> HTML не
                                            підтримується!</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label">Рейтинг</label>
                                        &nbsp;&nbsp;&nbsp; Погано&nbsp;
                                        <input type="radio" name="rating" value="1">
                                        &nbsp;
                                        <input type="radio" name="rating" value="2">
                                        &nbsp;
                                        <input type="radio" name="rating" value="3">
                                        &nbsp;
                                        <input type="radio" name="rating" value="4">
                                        &nbsp;
                                        <input type="radio" name="rating" value="5">
                                        &nbsp;Добре</div>
                                </div>
                                <div class="buttons clearfix">
                                    <div class="pull-right">
                                        <button type="button" id="button-review" data-loading-text="Завантаження..."
                                            class="btn btn-primary">Продовжити</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <!-- <div class="btn-group">
                        
                        <button type="button" data-toggle="tooltip" class="btn btn-default" title=""
                            onclick="compare.add('50');" data-original-title="До порівняння"><i
                                class="fa fa-exchange"></i></button>
                    </div> -->
                    <h1>Перстень Назва</h1>
                    <div class="params-wr">
                      <ul class="list-unstyled">
                        <li class="articul">Модель: 12547</li>
                        <li class="availability">Наявність: На складі</li>
                    </ul> 
                    <div class="rating">
                            <p>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                    <i class="fa fa-star fa-stack-1x hidden-star"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                    <i class="fa fa-star fa-stack-1x hidden-star"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                    <i class="fa fa-star fa-stack-1x hidden-star"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                    <i class="fa fa-star fa-stack-1x hidden-star"></i>
                                </span>
                                <span class="fa fa-stack">
                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                    <i class="fa fa-star fa-stack-1x hidden-star"></i>
                                </span>
                                <a class="review-quantity" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0
                                    відгуків</a> </p>
    
                        </div> 
                    </div>
                    


                    <ul class="list-unstyled price">
                        <li>
                            <h2>3 000.00 грн.</h2>
                        </li>
                        <li class="old-price">Без ПДВ: 3 000.00 грн.</li>
                    </ul>
                    <div id="product">
                        <div class="form-group">
                            <!-- <label class="control-label" for="input-quantity">Кількість</label>
                            <input type="text" name="quantity" value="1" size="2" id="input-quantity"
                                class="form-control"> -->
                            <input type="hidden" name="product_id" value="1">
                            <!-- <br> -->
                            <div class="button-wr">
                               <button type="button" id="button-cart" data-loading-text="Завантаження..."
                                class="btn btn-primary btn-lg btn-block to-basked"><span>До кошика</span><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                                <button type="button" data-toggle="tooltip" class="btn btn-default to-favorite" title=""
                            onclick="wishlist.add('50');" data-original-title="У закладки"><span>В обране</span><i
                                class="fa fa-heart-o"></i></button> 
                            </div>
                            
                        </div>


                    </div>
                    
                </div>
            </div>
            <h3>Схожі товари</h3>
            <div>
                <style scoped="" type="text/css">
                    .sp-l,
                    .sp-o {
                        background-color: #fff
                    }

                    .sp-c {
                        position: relative;
                        width: 100%;
                        overflow: hidden
                    }

                    .sp-o-c {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1000;
                        display: none
                    }

                    .sp-o {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #ccc;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-direction: row;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-flex-wrap: nowrap;
                        -ms-flex-wrap: nowrap;
                        flex-wrap: nowrap;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-align-content: stretch;
                        -ms-flex-line-pack: stretch;
                        align-content: stretch;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center
                    }

                    .sp-ul {
                        z-index: 999
                    }

                    .sp-ll {
                        z-index: 998
                    }

                    .sp-o .fa {
                        font-size: 48px
                    }
                </style>
                <div id="sp-c32" class="sp-c" style="height: 354px;">
                    <div id="sp-o32" class="sp-o-c" style="opacity: 0.8; display: none;">
                        <div class="sp-o">
                            <i class="fa fa-spin fa-refresh"></i>
                        </div>
                    </div>
                    <div class="sp-ll sp-l" id="sp-p32" data-mid="32" style="opacity: 1;">
                        <div class="row product-layout">
                            <div class="col-md-3 col-sm-6 col-xs-12 sp-p">
                                <div class="product-thumb transition">
                                    <div class="image"><a
                                            href="http://site9.fdk.in.ua/zoloto/zolotye-kolca/zhenskye-zolotye-kolca/persten-nazva-2.html"><img
                                                src="http://site9.fdk.in.ua/image/cache/catalog/tovar/ring2-200x200.png"
                                                alt="Перстень Назва 2" title="Перстень Назва 2"
                                                class="img-responsive"></a></div>
                                    <div class="caption">
                                        <h4><a
                                                href="http://site9.fdk.in.ua/zoloto/zolotye-kolca/zhenskye-zolotye-kolca/persten-nazva-2.html">Перстень
                                                Назва 2</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore..</p>
                                        <p class="price">
                                            3 200.00 грн. <span class="price-tax">Ex Tax: 3 200.00 грн.</span>
                                        </p>
                                    </div>
                                    <div class="button-group">
                                        <button type="button" onclick="cart.add('51');"><i
                                                class="fa fa-shopping-cart"></i> <span
                                                class="hidden-xs hidden-sm hidden-md">До кошика</span></button>
                                        <button type="button" data-toggle="tooltip" title=""
                                            onclick="wishlist.add('51');" data-original-title="У закладки"><i
                                                class="fa fa-heart"></i></button>
                                        <button type="button" data-toggle="tooltip" title=""
                                            onclick="compare.add('51');" data-original-title="До порівняння"><i
                                                class="fa fa-exchange"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>