<div class="stars">
    <div class="stars-wrap" data-rating="0">
        <div class="stars-inner">
            <div class="stars-item">
            <label>
                <input class="hidden-content" type="radio" name="star" value="5">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </div>
        <div class="stars-item">
            <label>
                <input class="hidden-content" type="radio" name="star" value="4">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </div>
        <div class="stars-item">
            <label>
                <input class="hidden-content" type="radio" name="star" value="3">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </div>
        <div class="stars-item">
            <label>
                <input class="hidden-content" type="radio" name="star" value="2">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </div>
        <div class="stars-item">
            <label>
                <input class="hidden-content" type="radio" name="star" value="1">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </div> 
        </div>
        <div>
            <p class="review-quantity @@display">Відгуки 
                <span>(3)</span>
            </p>
        </div>
    </div>
</div>