<div class="sub-category">
        <ul class="sub-category-item-wr list-unstyled gold">
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/ring-icon.png" alt="">
                    </span>
                    Перстні
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/trinket-icon.png" alt="">
                    </span>
                    Сережки
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/neck-icon.png" alt="">
                    </span>
                    Ланцюжки
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/pendant-icon.png" alt="">
                    </span>
                    Кулоны
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/bracelet-icon.png" alt="">
                    </span>
                    Браслети
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/collier-icon.png" alt="">
                    </span>
                    Кольє
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/piercing-icon.png" alt="">
                    </span>
                    Пірсинг
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/accessory-icon.png" alt="">
                    </span>
                    Аксесуари
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>
            <li class="sub-category-item">
                <a href="#">
                    <span>
                        <img src="img/pics/headset-icon.png" alt="">
                    </span>
                    Гарнітури
                </a>
                <ul class="sub-item-category list-unstyled">
                    <li class="sub-item">
                        <a href="#">Обручки</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Жіночі</a>
                    </li>
                    <li class="sub-item">
                        <a href="#">Чоловічі</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>